# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# IDE
.idea/
*.iws
*.iml
*.ipr

# Build
target/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# JavaFX cache
.cache/